---
import Button from "../../components/Examples/examples-react/Button/Button";
import type { ExampleData } from "./ExampleControls/index.js";
import { ReactRenderer } from "./Renderer/index";
const { example } = Astro.props;
interface Props {
  example: ExampleData;
}
---

<div class="ds example" id="js-event-root">
  {example.type === "react" && (
          <Button client:only="react"></Button>
    )}
  </div>