---
import type { ExampleData } from "./ExampleControls";
import ExamplePreview from "./ExamplePreview.astro";

const examples: ExampleData[] = [
  {
    id: "button-example",
    name: "Button Example",
    description: "A button example",
    type: "react",
    component: "Button",
    configurations: {
      fontFamily: {
        choices: ["Arial", "Helvetica", "Times New Roman", "Ubuntu"],
        default: "Arial",
        value: "Arial",
      },
      fontSize: {
        min: 12,
        max: 24,
        default: 16,
        value: 16,
      },
    },
  },
];
---

<div class="example-explorer">
    <h1>Example Explorer</h1>
    <div class="example-list">
      {examples.map((example) => (
              <ExamplePreview example={example}/>
      ))}
    </div>
</div>
