---
import type {ExampleData} from "./ExampleControls/index.js";
import {ReactRenderer} from "./Renderer/index";
import Button from "../../components/Examples/examples-react/Button/Button";
const {example} = Astro.props;
interface Props {
  example: ExampleData;
}
import bcss from "../../components/Examples/examples-react/Button/styles.css"
---

<div class="ds example" id="js-event-root">
  {example.type === "react" && (
          <Button client:only="react"></Button>
    )}
  </div>