---
import Button from "../../components/Examples/examples-react/Button/Button";
import type { ExampleData } from "./ExampleControls/index.js";
import { ReactRenderer } from "./Renderer/index";
const { example } = Astro.props;
interface Props {
  example: ExampleData;
}
---

<div class="ds example">
  {example.type === "react" && (
          // TODO actually populate the initialconfig from url params etc
          // TODO use the example controller etc to actually get the correct example, instead of hardocding button
          <Button initialConfig={{}} client:only="react"></Button>
  )}
</div>